a.navbar-brand {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    
}


/* Nav button for the side bar */
button.m-1 {
    background-color: #5D49AF;
}

/* Login Button */
button.m-2 {
    background-color: #5D49AF;
    
}

/* Sign up Button */
button.m-3 {
    background-color: #413087;
}


/*Nav bar style for home, features, contact us, loging and sign up */
.navbar-nav {
    background-color: #9185C1;
    border-radius: 10px;
   
}


html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
