/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bg-gradely-light {
  background-color: #9084c0;
}

.bg-gradely {
  background-color: #5d49ae;
}

.bg-gradely-dark {
  background-color: #413086;
}

.btn-gradely {
  background-color: #5d49ae;
  border: 0;
}

.btn-gradely:hover, .btn-gradely:focus {
  background-color: #5d49ae!important;
  filter: brightness(120%);
}

.btn-gradely-dark {
  background-color: #413086!important;
  border: 0;
}

.btn-gradely-dark:hover, .btn-gradely-dark:focus {
  background-color: #413086;
  filter: brightness(120%);
}

body {
  overflow-x: hidden!important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
